/* ==== Google font ==== */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway');

/* ==== FontAwesome ==== */

@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');

html, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
  font-size: 18px;
}
body {
  background-image: url('//s3.console.aws.amazon.com/s3/object/joshgjohnson-aws?region=us-west-2&prefix=assets/images/DCC74EDC-5C0F-40F4-BC18-C2AB31099618.jpeg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
  background-attachment: relative;
  background-color: #464646;
	font: 18px 'Raleway', sans-serif;
	color: #fff;
}
    
h1 {
	font-size: 2.33rem;
	letter-spacing: -2px;
	font-weight: 300;
  margin: 0 auto;
  color: #fff;
}
p {
	font-size: 1em;
	font-weight: 300;
  margin: 20px auto 10px;
	color: #fff;
}

a,
a:link,
a:visited {
	color: #fff;
	word-wrap: break-word;
}
.aligncenter {
	text-align: center;
}


/* wrapper */
#wrapper {
	text-align: center;
}
#wrapper img.logo {
	max-width: 85%;
 	/* border: 2px solid #fff; */
	/* border-radius: 50%; */
	padding: 2px;
}
.container {
	background-color: rgba(22,22,22,0.55);
	border-radius: 15px;
	margin: 10vh auto;
	width: 50%;
	padding: 20px;
	display: block;
}


/* countdown */
#countdown {
	width: 100%;
	font-size: 2em;
	letter-spacing: -1px;
	color: #fff;
	font-weight: 400;
	line-height: 1.1em;
	margin: 0 auto;
	padding: 5px;
  font-family: sans-serif;
}
#countdown .days b, .hours b, .minutes b, .seconds b {
  font-size: 1rem;
  font-weight: 300;
  text-transform: lowercase;
}


/* footer */
.social,
ul li {
	padding: 5px;
  margin: 5px auto;
	list-style: none;
	display: inline;
}
.social i {
  font-size: 1.5rem;
	width: 30px;
	height: 30px;
	margin: 10px 5px 0px;
	text-decoration: none;
	list-style: none;
}
.social i:hover {
	text-decoration: none;
}

a:hover i.fa-twitter {color: #00b6f1;}
a:hover i.fa-github {color: #4078c0;}
a:hover i.fa-reddit-alien {color: #ff5700;}
a:hover i.fa-instagram {color: #c32aa3;}
a:hover i.fa-youtube {color: #b31217;}
a:hover i.fa-codepen {color: #0ebeff;}
a:hover i.fa-facebook {color: #3b5998;}
a:hover i.fa-twitch {color: #6441a4;}
a:hover i.fa-playstation {color: #003087;}

.donate,
ul li {
	padding: 0px;
  margin: 5px auto;
	list-style: none;
	display: inline;
	text-decoration: none;
}
.donate i {
  font-size: 2rem;
	width: 40px;
	height: 30px;
	margin: 5px 5px 0px;
	text-decoration: none;
	list-style: none;
}
.donate :hover, i:hover {
	text-decoration: none;
}

a:hover i.fa-donate {color: #216c2a;}

.copyright {
	font: 300 0.66rem 'Raleway', sans-serif;
	margin: 5px auto;
	color: #fff;
	text-align: center;
	letter-spacing: -0.015em;
  line-height: 1rem;
}


	@media only screen and (max-width: 600px) { /* For mobile devices */
		body {
			background-image: url('//s3.console.aws.amazon.com/s3/object/joshgjohnson-aws?region=us-west-2&prefix=assets/images/DCC74EDC-5C0F-40F4-BC18-C2AB31099618.jpeg');
			font-size: 14px;
		}
    h1 {
      font-size: 24px;
      letter-spacing: -2px;
      font-weight: 300;
      margin: 0 auto;
      color: #fff;
    }
    h2 {
      font-size: 1em;
    }
    .container {
      background-color: rgba(22,22,22,0.55);
      border-radius: 15px;
      width: 94vw;
      padding: 10px;
      margin: 10px auto;
    }
}
    


/*  subscription box */
.subscribe {
  margin: 20px 0 5px;
}
ul.items {
  position: absolute;
  width: 30px;
  height: auto;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
}
ul.items li {
  width: 8px;
  height: 8px;
  margin: 10px 0;
  /* background: white; */
  border-radius: 50%;
  opacity: 0.4;
  cursor: pointer;
}
ul.items li.active {
  opacity: 1;
}

form {
  position: relative;
  width: 100%;
  height: 60px;
}
form fieldset {
  width: 300px;
  height: 60px;
  margin: 0 auto;
  background: white;
  border-radius: 5px;
  opacity: 0;
}
form fieldset input, form fieldset p {
  display: inline-block;
  width: 210px;
  margin-left: 50px;
  color: #333333;
  font-size: 16px;
  letter-spacing: 1px;
  float: left;
}
form fieldset p {
  margin-top: 22px;
  text-align: center;
}
form fieldset input {
  height: 40px;
  margin-top: 8px;
  border: none;
  outline: none;
}
form fieldset .icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15px;
  transition: all 0.4s ease;
}
form fieldset .icon i {
  position: absolute;
  display: block;
}
form fieldset .icon i::before, form fieldset .icon i::after {
  position: absolute;
  content: "";
}
form fieldset .icon.left {
  left: 10px;
}
form fieldset .icon.right {
  right: 10px;
  cursor: pointer;
}
form fieldset .icon.button:hover {
  background: #f2f2f2;
  border-radius: 3px;
  transition: all 0.4s ease;
}
form fieldset.enable {
  opacity: 1;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
form fieldset.disable {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: scale(0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body.error fieldset {
  animation: error 0.3s ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes enable {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes error {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
}
/**
 * Icons in CSS, long as f****
 */
.icon .arrow {
  width: 2px;
  height: 17px;
  top: 5px;
  left: 14px;
  background: #333;
}
.icon .arrow::before {
  width: 8px;
  height: 8px;
  bottom: -1px;
  left: -3px;
  color: #333;
  border-color: #333;
  border-right: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(45deg);
}

.icon .user {
  width: 20px;
  height: 10px;
  bottom: 5px;
  left: 5px;
  box-shadow: 0 0 0 2px #333 inset;
  border-radius: 6px 6px 3px 3px;
}
.icon .user::before {
  width: 10px;
  height: 10px;
  top: -9px;
  left: 5px;
  box-shadow: 0 0 0 2px #333 inset;
  border-radius: 50%;
}

.icon .letter {
  width: 20px;
  height: 12px;
  top: 9px;
  left: 5px;
  box-shadow: 0 0 0 2px #333 inset;
  border-radius: 3px;
}
.icon .letter::before, .icon .letter::after {
  width: 11px;
  height: 2px;
  top: 4px;
  background: #333;
}
.icon .letter::before {
  left: 0;
  transform: rotate(30deg);
}
.icon .letter::after {
  right: 0;
  transform: rotate(-30deg);
}


/* TYPED TEXT */

#typed-strings {
  visibility: hidden;
}
#typed {
  font-size: 1rem;
	letter-spacing: 0.10rem;
}
#typed::after { /* Add custom cursor so it auto inherits font styles */
	content: '|';
	display: inline;
	-webkit-animation: blink 0.9s infinite;
	   -moz-animation: blink 0.9s infinite;
	        animation: blink 0.9s infinite;
}
.typed_wrap {
	width: 100%;
	height: 2.5rem;
	padding: 5px;
}
.typed_wrap {
  white-space: nowrap;
	display: inline;
	font-family: "Raleway", sans-serif;
}
@keyframes blink{
      0% { opacity:1; }
     70% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
   70% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
   70% { opacity:0; }
  100% { opacity:1; }
}
